{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<header>
  <!-- Start Header Logo-->
  <div class="header_logo col_4 visible-lg d-none">
    {{ page.branding }}
  </div>
  <!-- End Header Logo-->
  <!-- Start Header Navigation-->
  <div class="col_6 visible-lg d-none">
    {{ page.navigation }}
  </div>
  <!-- End Header Navigation-->
  <!-- Start Header Social Menu -->
  <div class="col_3 visible-lg d-none">
    <ul class="social_icons float-md-right">
      <!-- Social links -->
      <li class="login_icon">
        <a href="/user"><i class="flaticon-social"></i></a>
      </li>
      <li class="wishlist_icon">
        <a href="wishlist.html"><i class="flaticon-heart"></i></a>
      </li>
      <li class="search_icon">
        <a href="javascript:void(0);"><i class="flaticon-magnifying-glass"></i></a>
        <div class="search_form">
          <form>
            <input type="text"  placeholder="search" class="text-capitalize" />
            <button type="submit" class="vertical_middle"><i class="flaticon-magnifying-glass"></i></button>
          </form>
        </div>
      </li>
      <li class="cart_icon">
        {{ page.cart_icon }}
      </li>
    </ul>
  </div>
  <!-- End Header Social Menu -->
  <!-- Start Header Currency-->
  <div class="header_currency col_4 text-right visible-lg d-none">
    {{ page.tools }}
  </div>
  <!-- End Header Currency-->
  <div class="header_mobile hidden-lg d-block">
    <!-- Start Header Currency-->
    <div class="header_currency text-right">
      {{ page.tools }}
    </div>
    <!-- End Header Currency-->
    <!-- Start Header Social Menu -->
    <div class="social_icons_content">
      <ul class="social_icons float-md-right">
        <!-- Social links -->
        <li class="login_icon">
          <a href="login.html"><i class="flaticon-social"></i></a>
        </li>
        <li class="wishlist_icon">
          <a href="wishlist.html"><i class="flaticon-heart"></i></a>
        </li>
        <li class="search_icon">
          <a href="javascript:void(0);"><i class="flaticon-magnifying-glass"></i></a>
          <div class="search_form">
            <form>
              <input type="text"  placeholder="search" class="text-capitalize" />
              <button type="submit" class="vertical_middle"><i class="flaticon-magnifying-glass"></i></button>
            </form>
          </div>
        </li>
        <li class="cart_icon">
          {{ page.cart_icon }}
        </li>
      </ul>
    </div>
    <!-- End Header Social Menu -->
    <!-- Start Header Logo-->
    <div class="header_logo col_4">
      <a href="earthyellow.html"><img src="{{ base_path ~ directory }}/images/logo.png" class="img-fluid" alt="logo" /></a>
    </div>
    <!-- End Header Logo-->
    <!-- Start Header Navigation-->
    {{ page.navigation_mobile }}
    <!-- End Header Navigation-->
  </div>
</header>
<div class="menu_overlay"></div>
<!-- END Header -->
<div class="main_section">
  <!-- START Breadcrumb   -->
  <section class="breadcrumb_section">
    <div class="container">
      {{ page.header }}
    </div>
  </section>
  <!-- END Breadcrumb   -->
  <div class="container">
    {{ page.highlighted }}
    {{ page.content }}
  </div>
</div>
<!-- START Footer -->
<footer class="wow fadeIn animated">
  <div class="container">
    <!-- Start Footer Top-->
    <div class="footer_top">
      <div class="row">
        <div class="col-lg-3 col-sm-6  wow fadeInUp ">
          <div class="border-left column">
            <a href="earthyellow.html"><img src="{{ base_path ~ directory }}/images/logo.png" alt="logo" class="img-fluid footer_logo"/></a>
            <p>There are many variations of passages of Lorem Ipsum has been the industry stand ard dummy text ever since...</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6  wow fadeInUp">
          <div class="border-left column">
            <h5 class="title_h5 text-capitalize">Need Help?</h5>
            <ul>
              <li><a href="javascript:void(0);">Customer Service</a></li>
              <li><a href="my_account.html">My Account</a></li>
              <li><a href="contactus.html">Contact Us</a></li>
              <li><a href="faq.html">FAQs</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6  wow fadeInUp">
          <div class="border-left column">
            <h5 class="title_h5 text-capitalize">Shopping With Us</h5>
            <ul>
              <li><a href="shipping_information.html">Shipping Information</a></li>
              <li><a href="returns_exchanges.html">Returns & Exchanges</a></li>
              <li><a href="size_chart.html">Size Charts</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6  wow fadeInUp">
          <div class="border-left column">
            <h5 class="title_h5 text-capitalize">About Us</h5>
            <ul>
              <li><a href="we_are_earthyellow.html">We Are Earthyellow</a></li>
              <li><a href="careers.html">Careers</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Footer Top-->
    <!-- Start Footer Middle -->
    <div class="footer_middle border-top">
      <div class="row">
        <div class="col-sm-12 col-md-4  wow fadeInUp">
          <h5 class="title_h5 text-center">Shop With Confidence</h5>
          <p class="text-center">Lorem ipsum dolor si amet consecter. </p>
          <ul class="text-center payment_content">
            <li><img src="{{ base_path ~ directory }}/images/payments.png" alt="payments" class="img-fluid" /></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4  wow fadeInUp">
          <h5 class="title_h5 text-center text-capitalize">Secure Shopping</h5>
          <p class="text-center">Lorem ipsum dolor si amet consecter.</p>
          <ul class="text-center shopping_content">
            <li><img src="{{ base_path ~ directory }}/images/certi.png" alt="certi"/></li>
            <li><img src="{{ base_path ~ directory }}/images/comodo.png" alt="comodo"/></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4  wow fadeInUp">
          <h5 class="title_h5 text-center text-capitalize">Stay Connected</h5>
          <p class="text-center">Lorem ipsum dolor si amet consecter.</p>
          <ul class="text-center footer_social_icons">
            <li><a href="javascript:void(0);"><i class="flaticon-facebook vertical_middle"></i></a></li>
            <li><a href="javascript:void(0);"><i class="flaticon-pinterest vertical_middle"></i></a></li>
            <li><a href="javascript:void(0);"><i class="flaticon-instagram-logo vertical_middle"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Footer Middle -->
  </div>
  <!-- Start Footer Bottom -->
  <div class="footer_bottom text-center container-fluid  wow fadeInUp">
    <div class="container"> 2018 &copy; Earthyellow All rights reserved.</div>
    {{ page.footer }}
  </div>
  <!-- End Footer Bottom -->
</footer>
