{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

<div class="back-link">
  <a href="./category.html"> &lt;&lt; Back to Category</a>
</div>
<article{{ attributes }}>
  <div class="row">
    <div class="col-lg-6">
      {{ product.detail_images }}
    </div>
    <div class="col-lg-6 product-details">
      <h2 class="p-title">{{ product.title }}</h2>
      <h3 class="p-price">{{ product.variation_price }}</h3>
      <h4 class="p-stock">Available: <span>In Stock</span></h4>
      <div class="p-rating">
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o fa-fade"></i>
      </div>
      <div class="p-review">
        <a href="">3 reviews</a>|<a href="">Add your review</a>
      </div>
      {{ product.variations }}

      <div id="accordion" class="accordion-area">
        <div class="panel">
          <div class="panel-header" id="headingOne">
            <button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">information</button>
          </div>
          <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="panel-body">
              {{ product.body }}
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-header" id="headingTwo">
            <button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">care details </button>
          </div>
          <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="panel-body">
              <img src="./img/cards.png" alt="">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-header" id="headingThree">
            <button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">shipping & Returns</button>
          </div>
          <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="panel-body">
              <h4>7 Days Returns</h4>
              <p>Cash on Delivery Available<br>Home Delivery <span>3 - 4 days</span></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="social-sharing">
        <a href=""><i class="fa fa-google-plus"></i></a>
        <a href=""><i class="fa fa-pinterest"></i></a>
        <a href=""><i class="fa fa-facebook"></i></a>
        <a href=""><i class="fa fa-twitter"></i></a>
        <a href=""><i class="fa fa-youtube"></i></a>
      </div>
    </div>
  </div>
</article>
