{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<div class="product-item">
  <div class="add-to-cart-panel" id="add-to-cart-panel-p{{ product_entity.id }}">
    {{ product.variation_price }}
    {{ product.variations }}
  </div>
  <div class="pi-pic" id="product-item-pic{{ product_entity.id }}">
    <div class="tag-sale">ON SALE</div>
    {{ product.image }}
    <div class="pi-links">
      <a href="javascript: void(0);" class="add-card" data-pid="{{ product_entity.id }}"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
      <a href="javascript: void(0);" class="wishlist-btn"><i class="flaticon-heart"></i></a>
    </div>
  </div>
  <div class="pi-text">
    <h6>{{ product.variation_price[0] }}</h6>
    <p>{{ product_entity.title[0].value }}</p>
  </div>
</div>
