


<div{{ attributes}}>

  <div class="shopping-card">
    <i class="flaticon-bag"></i>
    <span>{{ count_text|e|abs }}</span>
  </div>
  <a href="{{ url }}">Shopping Cart</a>

  {% if content %}
  <div class="cart-block--contents">
    <div class="cart-block--contents__inner">
      <div class="cart-block--contents__items">
        {{ content }}
      </div>
      <div class="cart-block--contents__links">
        {{ links }}
      </div>
    </div>
  </div>
  {% endif %}
</div>
