{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<section{{ attributes.addClass(['padding-top-text-60', 'padding-bottom-60', 'product_detail_section']) }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 wow fadeInLeft" data-wow-duration="1300ms">
        {{ product.detail_images }}
      </div>
      <div class="col-lg-6 wow fadeInLeft" data-wow-duration="1300ms">
        <div class="product_content">
          <div class="product_title">
            <span class="product_price title_h4"> $59.95</span>
            <span class="stock text-right">In Stock</span>
            <p class="sku_text">SKU: 01-2345678</p>
            <div class="star"><img src="/{{ base_path ~ directory }}/images/star.png"  class="img-fluid" alt="star" />(1 Review)</div>
          </div>
          {{ breakpoint() }}
          {{ product.variation_price }}
          {{ product.variation_list_price }}
          {{ product.variations }}
          <form>
            <div class="product_variant">
              <div class="form-group color_box">
                <label class="title_h5 text-capitalize">Color</label>
                <div class="radio text-uppercase text-center">
                  <input type="radio" name="color11" id="color11" checked="" >
                  <label for="color11" class="color1"></label>
                </div>
                <div class="radio text-uppercase text-center">
                  <input type="radio" name="color11" id="color21" >
                  <label for="color21" class="color2"></label>
                </div>
                <div class="radio text-uppercase text-center">
                  <input type="radio" name="color11" id="color31" >
                  <label for="color31" class="color3"></label>
                </div>
                <div class="radio text-uppercase text-center">
                  <input type="radio" name="color11" id="color41" >
                  <label for="color41" class="color4"></label>
                </div>
              </div>
              <div class="form-group size_box">
                <label class="title_h5 text-capitalize">Size</label>
                <select class="form-control"><option>XS</option><option>S</option><option>M</option><option>L</option><option>XL</option></select>
              </div>
              <div class="form-group quantity_box">
                <label class="title_h5 text-capitalize">Quantity</label>
                <div class="qty_number"><input type="text" value="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"></div>
              </div>
            </div>
            <div class="product_btns">
              <a href="wishlist.html" class="wishlist_btn border-btn text-uppercase">add to wishlist </a>
              <!-- <button type="submit" class="background-btn text-uppercase cart_btn">add to bag</button> -->
              <a href="cart.html" class="background-btn text-uppercase cart_btn">add to bag</a>
              <div class="product_share">
                <p>Share the love</p>
                <ul class="social_icons">
                  <li class="text-center"><a href="javascript:void(0);"><i class="flaticon-facebook vertical_middle"></i></a></li>
                  <li class="text-center"><a href="javascript:void(0);"><i class="flaticon-pinterest vertical_middle"></i></a></li>
                  <li class="text-center"><a href="javascript:void(0);"><i class="flaticon-instagram-logo vertical_middle"></i></a></li>
                </ul>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="product_description padding-top-60">
      <div class="row">
        <div class="col-md-6 wow fadeInRight" data-wow-duration="1300ms">
          <h5 class="title_h5 text-capitalize">Description</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-6 wow fadeInRight" data-wow-duration="1300ms">
          <h5 class="title_h5 text-capitalize">Quality Time, All The Time</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-12 wow fadeInUp" data-wow-duration="1300ms">
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="title_h5 btn-link collapsed text-left" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Additional Info
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="title_h5 btn-link collapsed text-left" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Size Chart
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class=" btn-link title_h5 text-left" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Reviews (1)
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  <div class="review_title">
                    <h4 class="title_h4">Customer Reviews</h4>
                    <div class="star"><img src="/{{ base_path ~ directory }}/images/star.png" class="img-fluid" alt="star"> Based on 1 review</div>
                    <a href="javascript:void(0):" class="write_review_text">Write a review</a>
                  </div>
                  <div class="review_content">
                    <div class="user_img rounded-circle">
                      <img src="/{{ base_path ~ directory }}/images/reivew_user.png" class="img-fluid vertical_middle" alt="star">
                    </div>
                    <div class="user_detail">
                      <h5 class="title_h5">Ammy G.</h5>
                      <span class="review__date">April 5, 2018</span>
                      <p>Curabitur egestas malesuada volutpat. Nunc vel vestibulum odio, ac pellen tesque lacus. Pellentesque dapibus nunc nec est imperdiet, a malesuada sem rutrum. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="featured_section padding-top-text-60 wow fadeIn">
      <h2 class="text-center title_h3">You May Also like to buy</h2>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-6 wow fadeInLeft" data-wow-duration="1300ms">
          <div class="featured_content">
            <div class="featured_img_content">
              <img src="/{{ base_path ~ directory }}/images/f_product1.png" alt="f_product" class="img-fluid">
              <div class="featured_btn vertical_middle">
                <a href="cart.html" class="text-uppercase background-btn add_to_bag_btn">Add To Bag</a>
                <a href="javascript:void(0);" class="text-uppercase border-btn popup_btn" data-modal="#modalone">Quick View</a>
              </div>
              <a href="javascript:void(0);" class="heart  rounded-circle text-center "><i class="flaticon-heart vertical_middle"></i></a>
            </div>
            <div class="featured_detail_content">
              <a href="product_list_detail.html"><p class="featured_title  text-capitalize  text-center">Silk Dress</p></a>
              <p class="featured_price title_h5  text-center"><span>$59.95</span></p>
              <div class="featured_variyant  text-center">
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio1" name="size">
                  <label for="radio1">xs</label>
                </div>
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio2" name="size">
                  <label for="radio2">s</label>
                </div>
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio3" name="size">
                  <label for="radio3">m</label>
                </div>
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio4" name="size">
                  <label for="radio4">l</label>
                </div>
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio5" name="size">
                  <label for="radio5">xl</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 wow fadeInLeft " data-wow-duration="1300ms" data-wow-delay="0.2s">
          <div class="featured_content">
            <div class="featured_img_content">
              <img src="/{{ base_path ~ directory }}/images/f_product2.png" alt="f_product" class="img-fluid">
              <div class="featured_btn vertical_middle">
                <a href="cart.html" class="text-uppercase background-btn add_to_bag_btn">Add To Bag</a>
                <a href="javascript:void(0);" class="text-uppercase border-btn popup_btn" data-modal="#modalone">Quick View</a>
              </div>
              <a href="javascript:void(0);" class="heart  rounded-circle text-center "><i class="flaticon-heart vertical_middle"></i></a>
            </div>
            <div class="featured_detail_content">
              <a href="product_list_detail.html"><p class="featured_title  text-capitalize  text-center">Premium Party Suit</p></a>
              <p class="featured_price title_h5  text-center"><span>$79.95</span></p>
              <div class="featured_variyant  text-center">
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio6" name="size">
                  <label for="radio6">s</label>
                </div>
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio7" name="size">
                  <label for="radio7">m</label>
                </div>
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio8" name="size">
                  <label for="radio8">l</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 wow fadeInLeft" data-wow-duration="1300ms" data-wow-delay="0.4s">
          <div class="featured_content">
            <div class="featured_img_content">
              <img src="/{{ base_path ~ directory }}/images/f_product3.png" alt="f_product" class="img-fluid">
              <div class="featured_btn vertical_middle">
                <a href="cart.html" class="text-uppercase background-btn add_to_bag_btn">Add To Bag</a>
                <a href="javascript:void(0);" class="text-uppercase border-btn popup_btn" data-modal="#modalone">Quick View</a>
              </div>
              <div class="product-label  text-uppercase  new-label ">new<span class="diamond_shape"></span></div>
              <a href="javascript:void(0);" class="heart  rounded-circle text-center "><i class="flaticon-heart vertical_middle"></i></a>
            </div>
            <div class="featured_detail_content">
              <a href="product_list_detail.html"><p class="featured_title  text-capitalize  text-center">Silk Party Dress</p></a>
              <p class="featured_price title_h5  text-center"><span>$99.95</span></p>
              <div class="featured_variyant  text-center">
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio9" name="size">
                  <label for="radio9">l</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 wow fadeInLeft " data-wow-duration="1300ms" data-wow-delay="0.6s">
          <div class="featured_content">
            <div class="featured_img_content">
              <img src="/{{ base_path ~ directory }}/images/f_product2.png" alt="f_product" class="img-fluid">
              <div class="featured_btn vertical_middle">
                <a href="cart.html" class="text-uppercase background-btn add_to_bag_btn">Add To Bag</a>
                <a href="javascript:void(0);" class="text-uppercase border-btn popup_btn" data-modal="#modalone">Quick View</a>
              </div>
              <a href="javascript:void(0);" class="heart  rounded-circle text-center "><i class="flaticon-heart vertical_middle"></i></a>
            </div>
            <div class="featured_detail_content">
              <a href="product_list_detail.html"><p class="featured_title  text-capitalize  text-center">Premium Party Suit</p></a>
              <p class="featured_price title_h5  text-center"><span>$79.95</span></p>
              <div class="featured_variyant  text-center">
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio16" name="size">
                  <label for="radio16">s</label>
                </div>
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio17" name="size">
                  <label for="radio17">m</label>
                </div>
                <div class="radio text-uppercase  text-center">
                  <input type="radio" id="radio18" name="size">
                  <label for="radio18">l</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
